* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Roboto", system-ui;
}

.main {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #E7ECF0;
}

.container {
    position: relative;
    min-width: 30%;
    min-height: 10%;
    box-shadow: 0 0 2px 3px rgba(9, 86, 134, 0.5);
    background-color: #fff;
}

.btn-back {
    text-decoration: none;
    color: #384289;
    font-weight: 600;
    display: block;
    float: left;
    padding: 8px 10px;
}

.btn-back i{
    font-size: 22px;
}

.btn-back:hover {
    opacity: 0.7;
}

.info {
    width: 100%;
}

.info-header {
    background-color: #ece6e6;
    padding: 6px 0 6px 3px;
    color: rgb(73, 71, 71);
    user-select: none;
    text-align: center;
    font-size: 20px;
}

.info-header__heading {
    margin-right: 40px;
    font-size: 35px;
}

/* loi nhap thong tin */
.error{
    text-align: end;
    margin-right: 20px;
    color: red;
}

.info-body {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 6px 10px;
}

.info-body__data {
    display: flex;
    align-items: center;
    margin: 7px;
}

.info-body__data-label {
    color: #333;
    font-size: 16px;
}



.info-body__data-input {
    width: 60%;
    display: block;
    margin-left: auto;
    padding: 8px;
    border: 1px solid #a1a0a0;
    outline: none;
    border-radius: 2px;
}

.info-footer {
    width: 100%;
    padding: 16px 10px 19px 10px;
    background-color: #ece6e6;
}

.info-footer__btn {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.btn {
    min-width: 195px;
    height: 35px;
    border-radius: 2px;
    box-shadow: 0 0px 1px rgba(3, 3, 3, 0.5);
}



.btn-clear {
    color: #34a7e0;
    font-weight: 600;
    border: 2px solid #0fcad0;
    background-color: #fef4f4;
}

.btn-add {
    border: none;
    color: #fff;
    font-weight: 600;
    background-color: #384289;
}


.btn-clear:hover{
    background-color: #fff;
}

.btn-add:hover{
    color: #384289;
    background-color: #fff;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 0 3px rgba(67, 66, 66, 0.5);
}
