*{
    box-sizing: border;
    margin: 0;
}

html{
    font-family: "Roboto", system-ui;
}

.container{
    min-height: 100vh;
    background-color:#E7ECF0;
}

.heading{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    color: red;
    text-transform: uppercase;
}

.notify {
    position: fixed;
    right: 5px;
    top: 84px;
    line-height: 30px;
    float: right;
    color: #f06e26;
    padding: 10px;
    font-size: 16px;
    min-width: 180px;
    height: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #f3f8f9;
    animation: fadeOut 2s ease 1.5s forwards;
    border-left: 4px solid rgb(21 182 13);
}

.notify i{
    color: rgb(46 175 83);
    transform: translateY(1px);
    margin-right: 3px;
}

@keyframes fadeOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(248px); /* Di chuyển ra ngoài màn hình theo chiều ngang */
        opacity: 0;
    }
}

.container-link{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.link__find,
.link__add{
    border-top: 1px solid #f9f5f5;
    font-size: 18px;
}

.link__find i,
.link__add i{
    font-size: 15px;
    margin-right: 8px;
}


.link__add:hover,
.link__find:hover{
    color: #384289;
   background-color: #ffffff;
}

.container-link a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    padding: 8px 12px;
    background-color: #384289;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    min-width: 180px;
    text-align: center;
}

table, tr,th,td{
    border: 1px solid #0c0a3b;
    text-align: center;
}


tr{
    height: 35px;
}

table{
    min-width: 60%;
    margin: 0 auto;
}
